html,body{
    margin:0;
    padding: 0;
    width: 100%;
}
header{
    width:100%;
    height: 6vh;
    background-color: rgb(20, 20, 20);
}
.h1-header{
    margin:0;
    color:rgb(145, 145, 145);
    font-size: 3vh;
    padding-top: 1vh;
    margin-left: 30vh;
    float:left;
    font-weight: 500;
}
.button-header{
    background-color: rgb(20, 20, 20);
    color:rgb(145, 145, 145);
    float:left;
    margin-left: 5vh;
    font-size: 2.5vh;
    padding-top: 1.5vh;
    text-decoration: none;
    transition: color 0.3s;
    font-family: Arial, sans-serif;
}
.button-header:hover{
    color:white
}
.line{
    border-bottom: 1px solid black;
    margin:1vh auto;
    width:calc(100% - 60vh);
    margin-bottom:1vh;
}
.content{
    margin-left:30vh;
}
footer{
    margin-left: 30vh;
    position: relative;
    width:100%;
    font-size: 2vh;
}
a{
    text-decoration: none;
}
li{
    font-size: 2vh;
    margin-bottom: 1vh;
}
ul{
    margin-bottom: 40px;
    padding-left:5vh;
    margin-bottom: 2vh;
}
.main-header{
    font-size: 5vh;
    font-weight: 500;
    font-family: Arial, sans-serif;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.content-header{
    font-family: Arial, sans-serif; font-weight: 400; font-size: 3vh;
}
form{
    max-width: 25vh;
    height: 20vh;
    font-size: 0;
}
.first-input{
    width: 25vh;
    height: 3vh;
    text-align: center;
    font-size: 2vh;
    border-radius: 0.5vh;
    border:0.1vh solid rgb(128, 128, 128);
}
.sign{

    width: min-content;
    height: min-content;
    font-size: 1.5vh;
}
.second-input{
    width: 25vh;
    height: 3vh;
    text-align: center;
    font-size: 2vh;
    border-radius: 0.5vh;
    border:0.1vh solid rgb(128, 128, 128);
}
.submit{
    width:min-content;
    height: min-content;
    font-size: 1.8vh;

}
